body{
    margin: 0;
    
  }
  .container {
      max-width:1140px;
      margin:0 auto; 
     
  }
  .logo img {
    object-fit: cover;
    width: 150px;
    height: 54.3px;
    border-radius: 10px;
  }
  .rounded-circle  {
      width: 50px;
  }
  .nav-item {
      font-size: 24px;
  }
  .navbar-toggler {
    position: absolute;
    right: 20px;
    top: 15px;
}
  

   /* diff : banner  */
   * {
    box-sizing: border-box;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: red;
    color: #fff;
    cursor: pointer;
  }
  
  header {
  position: relative;
  background-color: black;
  height: 97vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.cd-hero {
  position: relative;
 }
 .cd-hero__slider {
     width: 100%;
     height: 550px;
     /* background-color: blanchedalmond; */
     
     text-align: center;
     display: flex;
     align-items: flex-end;
 }


   /* diff :左文右圖 */
  .col-gold-left {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    width: 61.8%;
}

.col-gold-right {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 38.2%;
   
}

.row {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.box {
  padding-top: 50px;
}

@media ( max-width: 576px ) {

  .col-gold-left {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    width: 100%;
}

  .col-gold-right {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% ;
  }

  .row {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .box {
    padding-top: 50px;
  }
}

/* diff :圖片輪播 */
.imageb {
  height: 600px;
}


footer .list-unstyle ul>li>a{
  flood-color: aliceblue;
}

.badge-2 {
  margin-bottom: 20px;
}

footer .row {
  padding-top:70px ;
  padding-bottom:90px ;
}

.list-unstyled {
  margin-top:25px ;
  
}


